[Unit]
Description=Servicio Bot del alumno25.
After=network.service

[Service]
Type=simple
ExecStart=/usr/bin/ruby /usr/local/bin/bot25d

[Install]
WantedBy=multi-user.target
